<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjYl3u_GE6zymveCbxoxSORwSoA4GNr64</string>
	<key>GCM_SENDER_ID</key>
	<string>462658871448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.choiceCollection</string>
	<key>PROJECT_ID</key>
	<string>choice-collection-8fa8b</string>
	<key>STORAGE_BUCKET</key>
	<string>choice-collection-8fa8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462658871448:ios:e667f498af1382f9b3f0ed</string>
</dict>
</plist>